*{
 margin:  0;
    padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

html, body{
	margin: 0;
}


header{
display: block;
.navigation{
    
    width: 100%;
   
	
    background : rgb(0,110,166,0)!important;
	position: absolute;
	height: 50px;
    .container{
        display: flex;
		justify-content: space-between;
        .logo{
			line-height: 50px;
			a{
				color: white;
				text-decoration: none;
				font-weight: 600;
			}
		}
		.feedback{
			line-height: 50px;
			a{
				color: white;
				text-decoration: none;
			}
		}
		.more_inf{
			line-height: 50px;
			color: white;
			border: solid 1px #fff;
		}
    ul{
        display: flex;
        li{
            list-style: none;
            width: auto;
            margin-right: 2%;
        }
    } 
    }
   
    
}


}
.selected {
	color: red
  }
.main-photo{
	
	align-items: center;
	.opacity-photo{
		width: 100%;
		
		background-color: rgba($color: #000000, $alpha: 1.0);
		z-index: 2;
		img{
    width: 100%;
	height: 100%;
}
}
.main-text{
	
	top:10vW;
	color: white;
	position: absolute;
    z-index: 4;
    min-width: 50px;
    width: 50%;
    font-size: 3.0vw;
	margin-left: 5vW;
	
	
	
	
	h1 {
		text-transform:uppercase;
		font-size: 3vw;
		max-width: 40ch;
		//text-align: justify;
		transform: scale(0.94);
		animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
	  }
	  @keyframes scale {
		100% {
		  transform: scale(1);
		}
	  }
	  
	  span {
		display: inline-block;
		opacity: 0;
		font-weight: 600;
		filter: blur(4px);
		padding-bottom: 3%;
	  }
	  
	  span:nth-child(1) {
		animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(2) {
		animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(3) {
		animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(4) {
		animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(5) {
		animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(6) {
		animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(7) {
		animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(8) {
		animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(9) {
		animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(10) {
		animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(11) {
		animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(12) {
		animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(13) {
		animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(14) {
		animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(15) {
		animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(16) {
		animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(17) {
		animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  span:nth-child(18) {
		animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
	  }
	  
	  @keyframes fade-in {
		100% {
		  opacity: 1;
		  filter: blur(0);
		}
	  }
}

}
main{
	
	background-color: rgb(255, 255, 255);
}
.link_to_other_pages{
	background-color: #006fa61f;
	padding: 3% 0;
	.link_to_other_pages_container_wrap{
		display: flex;
		justify-content: center;
		.link_to_other_pages_container_wrap_text{

			text-align: center;
			h3{
			font-weight: 600;
			color: #000;}
		}
	}
}
.block{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	font-size: 0;
	margin-top: 30px;
	height: 30%;
  }
  .link{
	margin: 0 1%;
	width: 31.3%;
  }
  .block .link-item{
	display: block;
	flex: 25%;
	overflow: hidden;
	position: relative;
  }
  .block img{
	max-width: 100%;
	height: auto;
	transition: all .5s ease;
	
   
  }
  
  .gallery-item{
	display: block;
	flex: 25%;
	overflow: hidden;
	position: relative;
  }
  .link_text{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	opacity: 0;
	transition: opacity .5s ease;
	z-index: 2;
  }
  .link-item:hover .link_text1{
	opacity: 1;

  }
  //link_to_others_pages

.zero-block{
	
	background-color:white;
	

.container{
		
		justify-content: space-between;
	
	.zero-block_right_part{
		margin-right: 2%;
		

		.zero-block_information{
			font-size: 20px;
			margin-bottom: 7%;
			margin-top: 7%;
			max-width: 100%;
			
			.wrap{
				display: flex;

				.zero-block_information_element-animation{
					padding-bottom:3% ;
				
					
					h2{
						color: #000;
						font-size: 2.4vw;
					
						font-weight:600;
					}
				}
					.zero_block_poem{
						color: #000;
						font-family: "EB Garamond",Sans-serif;
						font-size: 1.2vw;
						font-weight: 600;

				.zero_block_autor{
					
					display: flex;
					justify-content: right;
					
					
				}
			}
			.zero-block_information_img{
				width: 40%;
				img{
					max-width: 100%;
				}
			}
			}
			
		
		}
		
	}
	

}
 /* Задаем высоту большим блокам, чтобы у нас на странице получится скролл */
}
  
  .element-animation {
	margin-right: 8%;
	width: 60%;
	margin-top: 2%;
	font-size: 1.3vW;
	text-align: justify;
	word-spacing:-2px;
	
	/* Скроем элемент в начальном состоянии */
	opacity: 0;
	transform: translateY(20px);
	color: black;

  }
  
  .element-animation.element-show {
	opacity: 1;
	transition: all 1.5s;
	transform: translateY(0%);
  }
  .home_share_information_block{
	margin:2%  0;

	font-size: 1.2rem;
  }
.home_share_information_block{
	margin: 5% 0 ;
	  .home_share_information_container_wrap{
		margin-bottom: 2%;
	.home_share_information_container_wrap_text{
		margin: 2% 0;
		font-size: 1.3vW;
		h3{
			text-align: center;
			color: #000;
			font-weight: 600;
			font-size: 2.4vW;
		}
		
	}
  }
}
.modal-body{
	
	.home-page_form{
		.home-page_form_firstpart{
			margin-bottom: 5%;
			display: flex;
			max-width: 100%;
			.home-page_form-person_information{
				margin-right: 2%;
				font-size: 1.2vw;
				width: 50%;
				
			}
			input{
				border-radius: 7px;
				width: 100%;
				
			}
		}
		.home-page_form_message{
			margin-bottom: 5%;
			font-size: 1.2vw;
			textarea{
				border-radius:7px ;
				width: 100%;
				height: 5vw;
				border: #000 2px solid;
			}
		}
		.home-page_form_file{
			margin-bottom: 5%;
			
			
		}
		.home-page_form_button{
			input{
				background: #006ea6;
				border: none;
				border-radius: 5px;
				width: 200px;
				
				height: 40px;
				color: #fff;
				margin-bottom: 5%;
			}
		}
		
	}
}
.share_button{
	background-color: #006ea6 !important;
}
.first-block{
	
	background-color: rgb(134,164,200,0.4);
	.container{
		display: flex;
		justify-content: space-between;
	padding: 4%;
	font-size: 1.2vW;
	
	.first-block_right_part{
		margin-right: 2%;
		width: 50%;
		.first-block_header{
			font-size: 2.4rem;
			margin-bottom: 4%;
			color: #000;
    font-weight: 600;
		}
	}
	.first-block_img{
		width: 50%;
		img{
			width: 100%;
		}
		.first-block_img_siganture{
			margin-top: 2%;
			width: 100%;
		
		}
	}
	.first-block_information-button{
		margin-top: 10px;
		display: flex;
		a{
			text-transform: uppercase;
			border-radius: 20px;
			justify-content: center;
			color: white;
			text-decoration: none;
			display: flex;
			line-height: 40px;
			height: 40px;
			width: 170px;
		background-color: rgb(2, 43, 105);
		
	}
		
	}
}
}
.first-block-onlytext{
	
	background-color: rgb(134,164,200,0.4);
	.container{
		display: flex;
		justify-content: space-between;
	padding: 4%;
	font-size: 1.2vW;
	text-align: justify;
	
		
	
		
	}}
	
	.first-block_images{
	
		background-color: rgb(134,164,200,0.4);
		.container{
			display: flex;
			justify-content: space-between;
		padding: 4%;
		font-size: 1.2vW;
		
		
		.first-block_img{
			display: flex;
			img{
				height: 370px;
				padding: 2%;
			}
			.first-block_img_siganture{
				margin-top: 2%;
				width: 100%;
			
			}
		}
		.first-block_information-button{
			margin-top: 10px;
			display: flex;
			a{
				text-transform: uppercase;
				border-radius: 20px;
				justify-content: center;
				color: white;
				text-decoration: none;
				display: flex;
				line-height: 40px;
				height: 40px;
				width: 170px;
			background-color: rgb(2, 43, 105);
			
		}
			
		}
	}
	}

.second-block{
	
	background-color:white;
	.container{
		display: flex;
		justify-content: space-between;
	padding: 4%;
	.second-block_right_part{
		margin-right: 2%;
		width: 50%;
		.second-block_circle{
			transform: translateY(-107px);
    display: flex;
    margin-left: 444px;
			height: 98px;
			width: 98px;
			background:rgba($color:#006ea6, $alpha: 0.4);
			border-radius: 50%;
			position: absolute;
			transform: translateY(-47px);
}
		}
		.second-block_header{
			font-size: 2.4rem;
			margin-bottom: 4%;
			font-weight: 600;
		}
	
	.second-block_img{
		width: 50%;
		img{
			width: 90%;
		}
	}
	.second-block_information-button{
		margin-top: 10px;
		display: flex;
		a{
			text-transform: uppercase;
			border-radius: 20px;
			justify-content: center;
			color: white;
			text-decoration: none;
			display: flex;
			line-height: 40px;
			height: 40px;
			width: 170px;
		background-color:rgb(2, 43, 105) ;
		
	}
		
	}
}}

#mydiv {
    position: absolute;
    z-index: 9;
   
    
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
  
    color: #fff;
  }

  $number-of-options: 5;

#form-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.plane-ln{
    vertical-align: middle;
    position: absolute;
    transform: translateX(-103px);
    /* transform: translateY(-20px); */
    width: 230px;
    z-index: 2;
	top :-55px;
}
.container-line{
	width: 900px;
	margin: auto;
	padding: 3%;
	
}
  #tab1, #tab2, #tab3,#tab4, #tab5 {
	display: none;
	text-align: justify;
  }
  #tab1.active{
	display: block;
	.infomation-item-block1{
		display: flex;
		margin-bottom: 4%;
		img{
		width: 50%;
		margin-right:20px ;

height: 350px;
	}
	}
	
	.infomation-item-block2{
		display: flex;
		width: 100%;
		img{
			width: 50%;
			margin-left:20px 
			;
			height: 350px;}
			
	}
  }
  #tab2.active{

	display: block;
	.block1{
		img {
			width: 100%;
		}
	}
  }
  #tab3.active{
	display: block;
	.block1{
		img {
			width: 100%;
		}

	}
	.block2{
		display: flex;
		img{
			width: 50%;
			margin-right: 1%;
		}
	}
  } 
  #tab4.active{
	display: block;
  }
  #tab5.active{
	display: block;
  }
#form-title{
	color: rgba(0, 0, 0, 0.829);
} 
 

@keyframes spin {
	from {
		transform: rotate(0deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
	to {
		transform: rotate(360deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
}
.page_1_main{
	margin: 3%;
	img{
		width: 300px;
		height: 300px;
	}
}



footer{
	padding: 3% 0;
	
	color: white;
	background-color:#006ea6 ;
	.container{
		display: flex;
		justify-content: space-between;
		.social_media_history-museum{
			width: 20%;
			.social_media_history-museum-header{
				font-size: 1.2vW;
				margin-bottom: 3%;
			}
			.footer_button_vk{
				margin-bottom: 5%;
				a{
					color: white;
					display: flex;font-size: 1vw;
				}
				.footer_button_vk-bacground{
					display: flex;
					
					
					border-radius: 50%;

					img
						{width: 30px;
						margin-right: 5%;
						
					}
				}
				.footer_button_home-bacground{
					display: flex;
					
					margin-right: 5%;
					
					img
						{width: 30px;
							margin-right: 5%;
						
						
					}
				}
			}	
		
		}
	
		.footer_main_inf{
			.footer_main_inf-header{
				font-size: 1.1vW;
				margin-bottom: 3%;
			}
			.footer_main_inf-text{
			
				font-size: 1vw;
				a{
					color: white;
				}
			}
			
		}
		.admin{
			width: 17%;
		}
	}
}
$ratio-16-9: 56.25%;
$cols: 4;

 .demo {
  width: 80%;
  margin: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 320px;
  height: 180px;;
  margin: 2px;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
  a{
	display: flex;
    width: 100%;
    height: 200px;
}
  }


.img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto;
}
.personality-main{
	margin-top: 20px;
	.personality_first-block{

	
	width: 100%;
	display: flex;
	justify-content: space-around;
	.personality_first-block-photo{
		width: 50%;
		img{
			width: 100%;
		}

	}
	.personality_first-block-description{
		width: 40%;
	}
}
}
.navigation_main_information{
	width: 100%;
	position: fixed;
   top:0;
	
    background : rgb(2, 43, 105)!important;
	
	height: 90px;
    .container{
      
		
		.navigation_main_information_text{
			display: flex;
		
		text-align: center;
        .logo{
			line-height: 90px;
			a{
				color: white;
				text-decoration: none;
			}
		}
		ul{
			display: flex;
			line-height: 90px;
			li{
				list-style-type: none;
				width: 170px;
				a{
					color: #fff;
					text-decoration: none;
				}
			}
		}
		.feedback{
			line-height: 90px;
			a{
				color: white;
				text-decoration: none;
			}
		}
		.more_inf{
			line-height: 90px;
			color: white;
			border: solid 1px #fff;
		}
   
    } 
    }
   
}



.page-personalities-main{
	background-color: #006ea6 !important;

}
//main information ///////////////////////////////////////////////////////
.main_information_blocks{
	margin-top:100px;
	.container{	
		
	display: flex;
	padding: 2%;}


}
.main_information_navigation{
	padding-top: 4%;
	display: flex;
	justify-content: right;
	border-right:2px solid #022b69;
	padding-right: 15px;

	
	
	
	.main_information_navigation_yakors{
		
		/*height: 100%;
		border-right: #006ea6 solid 2px;
		padding-right: 10%;*/
		
		.link_yakor{
			display: flex;
			justify-content: right;
		}
		a{

			display: flex;
		color: rgb(15, 107, 143) ;
			text-decoration: none;
		padding-top: 2%;
	}
	

	}
	
}


.block_only-text{
	.container{
		padding: 2%;
		text-align: justify;
	}
}

  /* Задаем высоту большим блокам, чтобы у нас на странице получится скролл */
  